{% extends 'base.html' %}
{% load static %}

{% block content %}




    <div>
        <h5>USERS</h5>
        <hr>
        <div class= 'card'>
            <a class ='btn' href = "{% url 'create_prof' %}"> Create User</a>
            
            <table class="table table-bordered table-dark">
                <thead>
                    
                  <tr>
                    
                    <th scope="col">Users' name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">E-mail</th>
                  </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                  <tr>
                    
                    
                    <td>{{customer.name}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.email}}</td>
                    
                  </tr>
                  {% endfor %}
                  
                </tbody>
                
              </table>
    <div>

        <div>
            <h5>ACCOUNTS</h5>
            <hr>
            
            <div class= 'card'>
                <a class ='btn' href = "{%url "create_order"%}"> Create Account</a>
                <table>
                    <tr>
                        <th>Account User</th>
                        <th>Date Created</th>
                        <th>Type</th>
                        <th>Update</th>
                        <th>Remove</th>
                        
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <td>{{order.customer}}</td>
                            <td>{{order.date_created}}</td>
                            <td>{{order.status}}</td>
                            <td><a href= "{%url 'update_order' order.id %}">Update</a> </td>
                            <td><a href= "{%url 'delete_order' order.id %}">Delete</a> </td>
                             
                        </tr>
                    
                    {% endfor %}
                </table>
        <div>
</body>
</html>

{% endblock content %}